<!-- <ion-content>
  <ion-grid>
    <ion-row  class="justify-content-center">
      <ion-col><br />
        <ion-card class="align-self-center">
          <h2 class="ion-text-center ion-padding">Register</h2>
          <form #form="ngForm" (ngSubmit)="login(form)">
            <ion-item>
              <div color="dark" slot="start">
                <ion-icon slot="icon-only" name="person"></ion-icon>
              </div>
              <ion-input name="username" type="text" placeholder="Username"></ion-input>
            </ion-item>
            <ion-item>
              <div color="dark" slot="start">
                <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
              </div>
              <ion-input name="password" type="text" placeholder="Password" *ngIf="showPasswordText"></ion-input>
              <ion-input name="password" type="password" placeholder="Password" *ngIf="!showPasswordText"></ion-input>
              <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" *ngIf="showPasswordText" name="aye" slot="end" class="ion-align-self-center"></ion-icon>
              <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" *ngIf="!showPasswordText" name="aye-off" slot="end" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-button size="block" type="submit">Register</ion-button>
          </form>
          <p class="ion-text-center">Don't have account ?</p>
          <ion-button size="block" href="/">Login</ion-button>
        </ion-card>
      </ion-col>
    </ion-row >
  </ion-grid>
</ion-content> -->

<ion-content>
  <ion-list>
    <div>
      <ion-item>
        <ion-input type="text" placeholder="Nama" [(ngModel)]="nama_user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="alamat" [(ngModel)]="alamat" ></ion-textarea>
      </ion-item>
      <ion-item>
        <!-- <ion-label position="floating">DD/MM/YYYY</ion-label> -->
        <ion-datetime placeholder="DD/MM/YYYY" displayFormat="DD/MM/YYYY" min="1945-08-17" max="2019-12-30" [(ngModel)]="tgl_lahir"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Jenis Kelamin</ion-label>
        <ion-select interface="popover" [(ngModel)]="gender">
          <ion-select-option value="L">Laki-Laki</ion-select-option>
          <ion-select-option value="P">Perempuan</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Ulangi Password" [(ngModel)]="confirm_pass"></ion-input>
      </ion-item>
      <ion-button expand="full" class="ion-padding" color="success" (click)="register()">Register</ion-button>
    </div>
    <p>Sudah punya Akun ? <span (click)="login()">Login</span></p><br />
    <ion-button expand="full" class="ion-padding" color="success" (click)="login()">Login</ion-button>
  </ion-list>
</ion-content>